<!--
 -- Layout:  Product Downloads
 -- File:    templates/newtekv2/layouts/product-downloads.php
 -- Styles:  templates/newtekv2/css/layouts/downloads.css
 -- Author:  Ryan Goree
 -- Created: 10/05/2015
 -->
<div id="contentwrap">
    <div id="content" class="clearfix">
        <div id="main" class="clearfix">
            <!-- TODO: change page.modules to site.data.module_data once available -->
            {% for module in page.modules %}
            <p>{{ module }}</p>
            {% endfor %}
            <ul>
                {% for module in site.modules %}
                    <li>{{module.path}}</li>
                    {% if {{module.position}} == 'banner' and {{page.modules}} contains {{module.joomla_module_id}} %}
                        {% assign banner-module = {{module}} %}
                        <li>Above is picked</li>
                    {% endif %}
                {% endfor %}
            </ul>
            {{ banner-module.content }}
        </div>
    </div>
</div>
